<template>
  <v-container fluid class="pa-8" v-if="data">
    <user-grid :gridData="data"></user-grid>
  </v-container>
</template>
<script lang="ts">
import { Component, Inject } from "vue-property-decorator";

import { Settings } from '@/config';
import { UserRequest, GridModel, UserModel } from "@/model";
import { IUserService } from "@/service";
import { BaseComponent } from '@/components/base';
import UserGrid from "./components/UserGrid.vue";

@Component({
  components: { UserGrid }
})
export default class UserPage extends BaseComponent {
  @Inject("userService") userService: IUserService;

  data: GridModel<UserRequest> = null;

  mounted() {
    this.data = new GridModel(UserRequest);
    this.data.request.pageSize = Settings.GridPageSize;

    this.data.actions.push({
      columns: 4,
      controlType: "Search",
      commandName: "SearchFilter"
    });

    this.data.actions.push({
      columns: 0,
      controlType: "PrimaryButton",
      commandName: "Add",
      label: "Invite User",
      icon: "plus"
    });


    this.data.itemActions.push({
      text: "Edit",
      icon: "mdi-pencil",
      commandName: "Edit"
    });

    this.data.itemActions.push({
      text: "Delete",
      icon: "mdi-delete",
      commandName: "Delete",
    });

    this.data.headers = [
       { text: "Email", value: "email" },
      { text: "Name", value: "fullName" },
       { text: "Role", value: "role" },    
      { text: "Created By", value: "createdBy", width: "15%" },
      { text: "Created Date", value: "createdTime", width: "15%" },
      { value: "action", sortable: false, width: "10%" }
    ];

  }
}
</script>