<template>
  <v-app>
    <v-img
      src="nav-image.jpg"
      :height="screenHeight"
      gradient="to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)"
    >
      <v-container class="fill-height" fluid tag="section">
        <v-row justify="center">
          <v-col cols="12" md="8">
            <v-container class="py-0" tag="section">
              <v-row align="center" justify="center">
                <v-col cols="12" sm="6">
                    <base-material-card>
                      <template v-slot:heading>
                        <div class="display-2 font-weight-light">Access Denied</div>
                      </template>
                      <v-container class="text-center mt-8">
                        You do not have access to application. Please contact your site administrator.
                      </v-container>
                    </base-material-card>
                </v-col>
              </v-row>
            </v-container>
          </v-col>
        </v-row>
      </v-container>
    </v-img>
  </v-app>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class AccessDeniedPage extends Vue {
  screenHeight: number = window.innerHeight;

  login() {
    window.location.href = "/";
  }
}
</script>