<template>
  <v-app>
    <v-img
      src="nav-image.jpg"
      :height="screenHeight"
      gradient="to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)"
    >
      <v-container class="fill-height" fluid tag="section">
        <v-row justify="center">
          <v-col cols="12" md="8">
            <v-container class="py-0" tag="section">
              <v-row align="center" justify="center">
                <v-col cols="12" sm="6">
                  <v-form @submit.prevent="login">
                    <base-material-card>
                      <template v-slot:heading>
                        <div class="display-2 font-weight-light">Login</div>
                        <!-- <div class="subtitle-1 font-weight-light">Complete your profile</div> -->
                      </template>
                      <v-container class="mt-8">
                        <v-alert
                          dense
                          type="error"
                          v-if="isBadCredentials"
                        >Please enter valid credentials</v-alert>
                        <v-text-field
                          label="E-mail"
                          name="username"
                          prepend-icon="mdi-account"
                          type="text"
                          required
                        />

                        <v-text-field
                          id="password"
                          label="Password"
                          name="password"
                          prepend-icon="mdi-lock"
                          required
                          :type="showPassword ? 'text' : 'password'"
                          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                          @click:append="showPassword = !showPassword"
                        />
                        <div class="text-center my-4">
                          <v-btn color="primary" rounded text depressed large type="submit">Let's go</v-btn>
                        </div>

                        <div class="text-center my-4">
                          <div class="mb-8">
                            <div>or</div>
                          </div>
                          <v-btn class="mx-2" fab dark color="indigo">
                            <v-icon dark class="display-2">mdi-facebook</v-icon>
                          </v-btn>
                          <v-btn class="mx-2" fab dark color="red">
                            <v-icon dark class="display-1">mdi-google</v-icon>
                          </v-btn>
                        </div>
                      </v-container>
                    </base-material-card>
                  </v-form>
                </v-col>
              </v-row>
            </v-container>
          </v-col>
        </v-row>
      </v-container>
    </v-img>
  </v-app>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class LoginPage extends Vue {
  showPassword: boolean = false;
  screenHeight: number = window.innerHeight;
}
</script>