<template>
  <v-container fluid class="pa-8" v-if="data">
    <subscription-grid :gridData="data"></subscription-grid>
  </v-container>
</template>
<script lang="ts">
import { Component, Inject } from "vue-property-decorator";

import { Settings } from '@/config';
import { SubscriptionRequest, GridModel, SubscriptionModel } from "@/model";
import { ISubscriptionService } from "@/service";
import { BaseComponent } from '@/components/base';
import SubscriptionGrid from "./components/SubscriptionGrid.vue";

@Component({
  components: { SubscriptionGrid }
})
export default class BillingPage extends BaseComponent {
  @Inject("subscriptionService") subscriptionService: ISubscriptionService;

  data: GridModel<SubscriptionRequest> = null;

  mounted() {
    this.data = new GridModel(SubscriptionRequest);
    this.data.request.pageSize = Settings.GridPageSize;

  this.data.actions.push({
      columns: 0,
      controlType: "PrimaryButton",
      commandName: "View",
      label: "View Payments",
      
    
    });

    this.data.actions.push({
      columns: 0,
      controlType: "PrimaryButton",
      commandName: "Add",
      label: "Subscribe",
      icon: "plus",
    
    });

    


    this.data.itemActions.push({
      icon: "mdi-settings",
      commandName: "DropMenu",
      text: "Settings",
      links: [
        {
          text: "Start Subscription",
          icon: "mdi-autorenew",
          commandName: "Start",
          disable: (item: SubscriptionModel) => {
            return item.status != "created";
          }
        },
        {
          text: "Cancel Subscription",
          icon: "mdi-cancel",
          commandName: "Cancel",
          disable: (item: SubscriptionModel) => {
            return item.status === "created";
          }
        }
        
      ]
    });

    this.data.headers = [
      { text: "Plan Name", value: "item.name" },
      { text: "Status", value: "status" },
      { text: "Started On", value: "current_start" },  
      { text: "Ends On", value: "current_end" }, 
       { text: "Period", value: "period" },
        { text: "Amount", value: "item.amount" },      
      { value: "action", sortable: false, width: "10%" }
    ];

  }
}
</script>