<template>
  <v-dialog v-model="show" :max-width="800" persistent scrollable>
    <v-card>
      <v-card-title class="display-2 font-weight-light text-left">{{ title }}</v-card-title>
      <v-card-text>
        <v-form ref="form" lazy-validation>
          <v-row>
            <v-col cols="5">
              <v-text-field
                label="Name of Page"
                type="text"
                v-model="page.name"
                required
                :rules="nameRules"
              />
              <v-select
                label="Page Template"
                v-model="page.pageLayoutId"
                :items="pageLayouts"
                item-text="name"
                item-value="id"
                @change="onPageLayoutChange"
              />
              <v-text-field
                label="Path"
                type="text"
                v-model="page.path"
                required
                :rules="nameRules"
              />
            </v-col>

            <v-col cols="5" offset="1">
              <h5>SECTIONS</h5>

              <v-simple-table>
                <tbody>
                  <tr v-for="(section, index) in page.pageSections" :key="index">
                    <td>
                      <v-text-field type="text" v-model="section.name" readonly />
                    </td>
                    <td>
                      <v-select
                        :key="index"
                        :items="contents"
                        v-model="section.contents"
                        item-text="name"
                        item-value="id"
                        label="contents"
                        multiple
                        single-line
                        chips
                      ></v-select>
                    </td>
                  </tr>
                </tbody>
              </v-simple-table>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn @click="close">Cancel</v-btn>
        <v-btn color="primary" @click="save">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue, Inject } from "vue-property-decorator";
import Editor from "@tinymce/tinymce-vue";

import {
  PageModel,
  PageRequest,
  PageLayoutModel,
  PageLayoutRequest,
  ContentModel,
  ContentRequest,
  contentObject
} from "@/model";
import { IPageService, IPageLayoutService, IContentService } from "@/service";
import { BaseDialogComponent } from "@/components/base/BaseDialogComponent";

@Component({
  components: { Editor }
})
export default class PageDetail extends BaseDialogComponent<PageModel> {
  @Inject("pageService") service: IPageService;
  @Inject("pageLayoutService") pageLayoutService: IPageLayoutService;
  @Inject("contentService") contentService: IContentService;

  page: PageModel = new PageModel();
  title: string = "Build your Page";
  pageLayouts = new Array<PageLayoutModel>();
  contents = new Array<ContentModel>();

  con=new Array<contentObject>();
  id: string;

  public mounted() {
    this.page = this.$vuehelper.clone(this.data);
     console.log(this.page);
   
 
    this.id = null;
    if (this.page.id) this.title = "Edit your Page";

    let pageLayoutRequest = new PageLayoutRequest();
    this.pageLayoutService.getItems(pageLayoutRequest).then(response => {
      this.pageLayouts = response.data;
      console.log(response.data);

      if (!this.page.pageLayoutId)
        this.page.pageLayoutId = this.pageLayouts[0].id;

      this.buildFields();

      this.open(false);
    });

    let contentRequest = new ContentRequest();
    this.contentService.getItems(contentRequest).then(response => {
      this.contents = response.data;
    });
  
  }

  save() {
   
   
    
    this.page.pageSections.forEach(s => {
     
      s.contents.forEach(c => {
 
        let con = new contentObject();
        con.id = c;
        s.content.push(con);
        console.log(con.id);
      });
    });

    if (this.valid) {
      {
        this.service.post(this.page).then(
          (r: any) => this.onSave(),
          (e: any) => this.error(e)
        );
      }

      console.log(this.page);
    } else {
      console.log(this.page);
      console.log("validation failed");
    }
  }

  onPageLayoutChange() {
    this.buildFields();
  }

  buildFields() {
    let selectedPageLayout = this.pageLayouts.find(
      c => c.id == this.page.pageLayoutId
    );

    this.page.pageSections = [];
    selectedPageLayout.sections.forEach(f => {
      this.page.pageSections.push({
        name: f.name,
        contents: [],
        content: []
      });
    });
  }

  get nameRules() {
    return [(v: any) => !!v || "required"];
  }
}
</script>