<template>
  <v-dialog v-model="show" :max-width="800" persistent scrollable>
    <v-card>
      <v-card-title class="display-2 font-weight-light text-left">{{ title }}</v-card-title>
      <v-card-text>
        <v-form ref="form" lazy-validation>
          <v-row>
            <v-col>
              <v-text-field
                label="Name of Page"
                type="text"
                v-model="pageLayout.name"
                required
                :rules="nameRules"
              />
              <v-col class="text-right">
                <v-btn small color="secondary" @click="openFieldDetail()">Add New Section</v-btn>
              </v-col>
            </v-col>
          </v-row>
          <v-simple-table >
            <template v-slot:default>
              <thead>
                <tr>
                  <th>Name of Section</th>
                  <th></th>
                </tr>
              </thead>
               <tbody>
                <tr v-for="section in pageLayout.sections" :key="section.name">
                  <td>{{ section.name }}</td>
                     <td> <v-btn v-if="section.name" x-small text icon color="dark grey"  @click="openEditDetail(section,true)">
                 <v-icon x-small dark right>mdi-pencil</v-icon>
                 </v-btn></td>
                  <td> <v-btn v-if="section.name" x-small text icon color="dark grey"  @click="deleteField(section)">
                 <v-icon x-small dark right>mdi-delete</v-icon>
                 </v-btn></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
       <v-col   cols="5">
         
       </v-col>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn @click="close">Cancel</v-btn>
        <v-btn color="primary" @click="save">Save</v-btn>
      </v-card-actions>
    </v-card>
      <page-type-field ref="pageTypeField" @closee="closeFieldDetail(...arguments)" />
    <page-type-field ref="pageTypeFields" @edit="editField(...arguments)" />
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue, Inject } from "vue-property-decorator";
import Editor from "@tinymce/tinymce-vue";

import {
  PageModel,
  PageRequest,
  PageLayoutModel,
  PageLayoutRequest,
  ContentModel,
  ContentRequest,
  PageLayoutSection,
  ListItem
} from "@/model";
import { IPageService, IPageLayoutService, IContentService } from "@/service";
import PageTypeField from "./PageTypeField.vue";
import { BaseDialogComponent } from "@/components/base/BaseDialogComponent";

@Component({
  components: { Editor,PageTypeField }
})
export default class PageDetail extends BaseDialogComponent<PageLayoutModel> {
  @Inject("pageService") service: IPageService;
  @Inject("pageLayoutService") pageLayoutService: IPageLayoutService;
  @Inject("contentService") contentService: IContentService;


  title: string = "Build your Layout";

  showSection: boolean = false;
  rows: Array<ListItem> = [];
  pageLayout:PageLayoutModel=new PageLayoutModel();
 
  sectionName:PageLayoutSection=new PageLayoutSection();
  sections:Array<PageLayoutSection>=[];

  public mounted() {
    this.pageLayout = this.$vuehelper.clone(this.data);
    console.log(this.pageLayout)
    if (this.pageLayout.id)
    {
      this.title = "Edit your Page";
   
    } 
    this.open(false);

   
  }

  save() {
   
    if (this.valid) {
      {
        this.pageLayoutService.post(this.pageLayout).then(
          (r: any) => this.onSave(),
          (e: any) => this.error(e)
        );
      }

      console.log(this.pageLayout);
    } else {
      console.log(this.pageLayout);
      console.log("validation failed");
    }
  }

  openFieldDetail(item?: PageLayoutSection) {
    let componentRef: any = this.$refs.pageTypeField;
    let component: PageTypeField = componentRef;
    this.sectionName = item;
    component.name= this.sectionName;
    
    component.open();
  }

      openEditDetail(item?: PageLayoutSection,isEdit?:boolean) {

      
    let componentRef: any = this.$refs.pageTypeFields;
    let component: PageTypeField = componentRef;
    this.sectionName = item;
    component.name = this.sectionName;
    component.open(isEdit);
  }

    deleteField(field: PageLayoutSection)
  {
    this.pageLayout.sections.forEach(f =>{ 
      if(f.name == field.name )
      {
       var a =   this.pageLayout.sections.indexOf(f);
         this.pageLayout.sections.splice(a,1);             
      }
    })
  }


  closeFieldDetail(name?:PageLayoutSection) {
 console.log(name+"----");
     this.pageLayout.sections.push(name); 
     console.log(this.pageLayout);

  }

   editField(field: PageLayoutSection)
  {

    //  console.log("*********8"+this.selectedItem.name);
        var a=this.pageLayout.sections.indexOf(this.sectionName);
       this.pageLayout.sections.splice(a,1);
       this.pageLayout.sections.push(field);
      

  }


  get nameRules() {
    return [(v: any) => !!v || "required"];
  }
}
</script>