<template>
  <v-dialog v-model="show" :max-width="400" persistent scrollable>
    <v-card>
      <v-card-text>
        <v-form ref="form">
          <v-text-field label="Name" type="text" v-model="field.name" :rules="nameRules" />
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn small @click="close">Cancel</v-btn>
        <v-btn small color="primary" @click="save">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue, Inject } from "vue-property-decorator";
import { ContentTypeFieldModel, ListItem,PageLayoutModel ,PageLayoutSection} from "@/model";
import PageLayoutDetail from "./PageLayoutDetail.vue";

@Component({
  components: { PageLayoutDetail }
})
export default class PageTypeField extends Vue {
  show: boolean = false;
  public name=new PageLayoutSection();

  field:PageLayoutSection=new PageLayoutSection();
  types: Array<ListItem> = [];
  edit:boolean=false;

  public open(isEdit?:boolean) {

    if (!this.name) this.name = new PageLayoutSection();

    this.field = this.$vuehelper.clone(this.name);
    this.edit=isEdit;
   // console.log(this.field);
    this.show = true;
  }

  save() {

    console.log("Saveeee");
    console.log(this.field);
    this.$emit("closee", this.field);


    if (this.edit) this.$emit("edit", this.field);

    
    this.close();
  }

  close() {
    this.show = false;
  }

  get nameRules() {
    return [(v: any) => !!v || "required"];
  }
}
</script>