<template>
  <v-dialog v-model="show" width="800" persistent scrollable>
    <v-card>
      <v-card-title class="display-2 font-weight-light text-left">{{ title }}</v-card-title>
      <v-card-text>
        <v-form ref="form" lazy-validation>
          <v-row v-if="edit===false" >
            <v-col cols="6">
               <v-text-field
                label="Category"
                type="text"
                v-model="attribute.category"
                 prepend-icon="mdi-email"
                />
            </v-col>
            <v-col cols="6">
            </v-col>
          </v-row>
          

           <v-row v-if="edit===true">
            <v-col>
              <h4>FIELDS</h4>
            </v-col>
            <v-col class="text-right">
              <v-btn small color="secondary" @click="openFieldDetail()">Add Attribute</v-btn>
            </v-col>
          </v-row>
               
             <v-simple-table fixed-header dense height="300px" v-if="edit===true">
                 <v-col class="text-right">
              <v-btn small color="secondary" @click="openFieldDetail()">Add Attribute</v-btn>
            </v-col>
            <template v-slot:default>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Enum</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                
                <tr v-for="item in attribute.items.sort()" :key="item.id">
                  <td>{{ item.name }}</td>
                  <td>{{ item.type }}</td>
                  <td>{{ item.enum }}</td>
                 
                  <td> <a :href=item.short_url  target="_blank">Edit</a></td>
                 
                </tr>
              </tbody>
            </template>

          
          </v-simple-table>
        </v-form>
        
      </v-card-text>
      <v-card-actions  v-if="edit===false">
        <v-spacer></v-spacer>
        <v-btn @click="close">Cancel</v-btn>
        <v-btn color="primary" @click="save">Add</v-btn>
      </v-card-actions>
      <v-card-actions  v-if="edit===true">
        <v-spacer></v-spacer>
        <v-btn @click="close">Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue, Inject } from "vue-property-decorator";
import Editor from "@tinymce/tinymce-vue";

import { AttributeModel,Attributes, UserRequest,ListItem, AttributeRequest } from "@/model";
import { DataRespone, IBaseModel, IBaseRequest, PageInfo, DataRequest } from '@/model';
import { IUserService,IAttributeService } from "@/service";
import { BaseDialogComponent } from "@/components/base/BaseDialogComponent";
import axios from 'axios';
import { AxiosResponse, AxiosError, AxiosRequestConfig, ResponseType } from 'axios';
import ContentTypeField from "./ContentTypeField.vue";

@Component({
  components: { Editor,ContentTypeField }
})
export default class AttributeDetail extends BaseDialogComponent<AttributeModel> {
   @Inject("attributeService") service: IAttributeService;

  ;
  attribute:AttributeModel=new AttributeModel();
  //invoice:SubscriptionModel=new SubscriptionModel();
  roles: Array<ListItem> = [];
  status: Array<ListItem> = [];
  title: string = "Add Category";
  edit:boolean=false;
  interval: Array<ListItem> = [];
  planName: Array<ListItem> = [];
  planFrequency:Array<ListItem> = [];
  request:AttributeRequest=new AttributeRequest();
 selectedItem: Attributes = null;

  

  public mounted() {
    //this.billing.appId="16499f5dbd13612a96055b92a99461";
    //this.billing.secretKey="6ecc974736f01162ce3bb476478216a6c10be824";
    //this.billing.returnUrl="localhost:8080"
    this.attribute = this.$vuehelper.clone(this.data);

    this.interval.push(new ListItem("Year", "12"));
    this.interval.push(new ListItem("Month", "1"));




    if (this.attribute.items.length>0) 
    {
    this.title = "Add Attributes";
    this.edit=true;
    }
   
    this.open(false);


  }


  
  openFieldDetail(item?: Attributes) {
    let componentRef: any = this.$refs.contentTypeField;
    let component: ContentTypeField = componentRef;
    this.selectedItem = item;
    component.data = this.selectedItem;
    component.open();
  }

  save() {

              this.service.post(this.attribute).then(
             (r: any) =>    location.replace(r.short_url),
             (e: any) => this.error(e)
           );
    } 



     
  
  

  get nameRules() {
    return [(v: any) => !!v || "required"];
  }



  
}

</script>