<template>
  <v-container id="regular-tables" fluid tag="section">
    <base-material-card icon="mdi-clipboard-text" title="Billing" class="px-5 py-3">
      <v-data-table
        :headers="gridData.headers"
        :items="response.data"
        :options.sync="options"
        :server-items-length="response.pageInfo.totalResults"
        :loading="gridData.request._loading"
        :footer-props="style.footerProps"
        :height="style.height"
        :class="style.classNames"
        :disable-sort="gridData.disableSort"
        :no-data-text="gridData.message"
      >
        <template v-slot:top >
          <v-toolbar flat dense height="auto" color="transparent">
            <v-row no-gutters align="center" v-if="gridData.title">
              <v-col>
                <v-toolbar-title class="font-weight-bold">{{ gridData.title }}</v-toolbar-title>
              </v-col>
              <v-col :cols="$vuetify.breakpoint.smAndUp ? 0 : 12">
                <grid-action :actions="gridData.actions" @actionTriggered="onActionTriggered(response.data, ...arguments)"></grid-action>
              </v-col>
            </v-row>
            <template v-else >
              <grid-action
                :actions="gridData.actions"
                @actionTriggered="onActionTriggered(response.data, ...arguments)"
                :justify="'start'"
              ></grid-action>
            </template>
          </v-toolbar>
        </template>
        <template v-slot:item.name="{ item }">
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <span :class="style.fieldClasses" v-on="on">{{ item.name }}</span>
            </template>
            <span>{{ item.name }}</span>
          </v-tooltip>
        </template>
        <template v-slot:item.createdTime="{ item }">
        <v-tooltip bottom v-if="item.createdTime">
          <template v-slot:activator="{ on }">
            <span :class="style.fieldClasses" v-on="on">{{ item.createdTime | dateDisplay }}</span>
          </template>
          <span>{{ item.createdTime | dateDisplay('dddd, MMMM DD, YYYY') }}</span>
        </v-tooltip>
        <span v-else>N/A</span>
      </template>

   <template v-slot:item.current_start="{ item }">
        <v-tooltip bottom v-if="item.current_start">
          <template v-slot:activator="{ on }">
            <span :class="style.fieldClasses" v-on="on">{{ item.current_start | formatDate }}</span>
          </template>
          <span>{{ item.current_start | formatDate('dddd, MMMM DD, YYYY') }}</span>
        </v-tooltip>
        <span v-else>N/A</span>
      </template>

       <template v-slot:item.current_end="{ item }">
        <v-tooltip bottom v-if="item.current_end">
          <template v-slot:activator="{ on }">
            <span :class="style.fieldClasses" v-on="on">{{ item.current_end | formatDate }}</span>
          </template>
          <span>{{ item.current_end | formatDate('dddd, MMMM DD, YYYY') }}</span>
        </v-tooltip>
        <span v-else>N/A</span>
      </template>
       <template v-slot:item.item.amount="{ item }">
          <span>{{ item.item.amount | formatCurrency }}</span>
      </template>
        <template v-slot:item.action="{ item }">
          <grid-row-action
            :item="item"
            :actions="gridData.itemActions"
            @actionTriggered="onRowActionTriggered(item, ...arguments)"
          ></grid-row-action>
        </template>
        <template v-slot:no-data></template>
      </v-data-table>
    </base-material-card>
    <component v-bind:is="dialog.component" :data="dialog.data" @close="close" v-if="dialog"></component>
  </v-container>
  
</template>
<script lang="ts">
import { Component, Prop, Inject } from "vue-property-decorator";
import {
  AttributeRequest,
  AttributeModel,
  GridModel,
  GridActionModel,
  GridItemActionModel,
  DialogModel
} from "@/model";
import { IAttributeService } from "@/service";
import { BaseGridComponent } from "@/components/base/BaseGridComponent";
import GridAction from "@/components/GridAction.vue";
import GridRowAction from "@/components/GridRowAction.vue";
import AttributeDetail from './AttributeDetail.vue';
import moment from 'moment';
import axios from 'axios';
import { AxiosResponse, AxiosError, AxiosRequestConfig, ResponseType } from 'axios'

@Component({
  components: { GridAction, GridRowAction, AttributeDetail }
})
export default class AttributeGrid extends BaseGridComponent<
  AttributeRequest,
  AttributeModel
> {
  @Inject("attributeService") service: IAttributeService;

  dialog: DialogModel<AttributeModel> = null;

  invoiceResponse:AttributeModel=new AttributeModel();
  view:boolean =false;

  created() {
    this.init(this.service);
  }

  date(value:any)
  {
      if (value) {
           return moment(String(value)).format('YYYYMMDD')
          }
  }

 

 

  onActionTriggered(item: Array<AttributeModel>,action: GridActionModel) {
    switch (action.commandName) {
      case "Add":
        this.openDetail(new AttributeModel());
        break;
      default:
        this.refresh();
        break;
    }
  }

  onRowActionTriggered(item: AttributeModel, action: GridItemActionModel) {
    switch (action.commandName) {
      case "Add":
        this.openDetail(item);
        break;
    
    }
  }

  openDetail(data: AttributeModel) {
    this.dialog = new DialogModel<AttributeModel>();

    this.dialog.component = AttributeDetail;
    this.dialog.data = data;
  }



  close(save: boolean) {
    this.dialog = new DialogModel<AttributeModel>();

    if (save) this.refresh();
  }
}
</script>