<template>
  <v-dialog v-model="show" :max-width="400" persistent scrollable>
    <v-card>
      <v-card-text>
        <v-form ref="form">
          <v-text-field label="Name" type="text" v-model="field.name"  />
          <v-select :disabled="edit" label="Type" v-model="field.type"  />
          <v-switch v-model="field.required" label="Required"></v-switch>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn small @click="close">Cancel</v-btn>
        <v-btn small color="primary" @click="save">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue, Inject } from "vue-property-decorator";
import { Attributes, ListItem, ContentTypeModel } from "@/model";
import AttributeDetail from "./AttributeDetail.vue";

@Component({
  components: { AttributeDetail }
})
export default class ContentTypeField extends Vue {
  show: boolean = false;
  public data: Attributes;

  field: Attributes = new Attributes();
  types: Array<ListItem> = [];
  edit:boolean=false;

  public open(isEdit?:boolean) {
    this.types.push(new ListItem("Text", "string"));
    this.types.push(new ListItem("Date", "date"));
    this.types.push(new ListItem("Rich Text", "editor"));

    if (!this.data) this.data = new Attributes();

    this.field = this.$vuehelper.clone(this.data);
    this.edit=isEdit;
   // console.log(this.field);
    this.show = true;
  }

  save() {

    console.log("Saveeee");
    console.log(this.field);
    this.$emit("closee", this.field);


    if (this.edit) this.$emit("edit", this.field);

    
    this.close();
  }

  close() {
    this.show = false;
  }

  get nameRules() {
    return [(v: any) => !!v || "required"];
  }
}
</script>