<template>
  <v-container fluid class="pa-8" v-if="data">
    <page-grid :gridData="data"></page-grid>
  </v-container>
</template>
<script lang="ts">
import { Component, Inject } from "vue-property-decorator";

import { Settings } from '@/config';
import { PageRequest, GridModel, PageModel } from "@/model";
import { IPageService } from "@/service";
import { BaseComponent } from '@/components/base';
import PageGrid from "./components/PageGrid.vue";

@Component({
  components: { PageGrid }
})
export default class PagePage extends BaseComponent {
  @Inject("pageService") pageService: IPageService;

  data: GridModel<PageRequest> = null;

  mounted() {
    this.data = new GridModel(PageRequest);
    this.data.request.pageSize = Settings.GridPageSize;

    this.data.actions.push({
      columns: 4,
      controlType: "Search",
      commandName: "SearchFilter"
    });

    this.data.actions.push({
      columns: 0,
      controlType: "PrimaryButton",
      commandName: "Add",
      label: "Add Page",
      icon: "plus"
    });


    this.data.itemActions.push({
      text: "Edit",
      icon: "mdi-pencil",
      commandName: "Edit"
    });

    this.data.itemActions.push({
      text: "Delete",
      icon: "mdi-delete",
      commandName: "Delete"
    });

    this.data.headers = [
      { text: "Name", value: "name" },
      { text: "Created By", value: "createdBy", width: "15%" },
      { text: "Created Date", value: "createdTime", width: "15%" },
      { value: "action", sortable: false, width: "10%" }
    ];

  }
}
</script>