<template>
  <v-dialog v-model="show" width="800" persistent scrollable>
    <v-card>
      <v-card-title class="display-2 font-weight-light text-left">{{ title }}</v-card-title>
      <v-card-text>
        <v-form ref="form" lazy-validation>
          <v-row v-if="edit===false" >
            <v-col cols="6">
               <v-select
                label="Plan Name"
                type="text"
               :items="planName"
                v-model="subscription.plan_id"
                 prepend-icon="mdi-email"
                />
            </v-col>
            <v-col cols="6">
            </v-col>
          </v-row>
          
               
             <v-simple-table fixed-header dense height="300px" v-if="edit===true">
            <template v-slot:default>
              <thead>
                <tr>
                  <th>Paid at</th>
                  <th>Plan Name</th>
                  <th>Status</th>
                  <th>Amount</th>
                  
                  
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                
                <tr v-for="item in subscription.items.sort()" :key="item.id">
                  <td>{{ item.paid_at | formatDate }}</td>
                  <td>{{ item.line_items[0].name }}</td>
                  <td>{{ item.status }}</td>
                  <td>{{ item.line_items[0].amount |formatCurrency }}</td>
                 
                  <td> <a :href=item.short_url  target="_blank">View Invoice</a></td>
                 
                </tr>
              </tbody>
            </template>

          
          </v-simple-table>
        </v-form>
        
      </v-card-text>
      <v-card-actions  v-if="edit===false">
        <v-spacer></v-spacer>
        <v-btn @click="close">Cancel</v-btn>
        <v-btn color="primary" @click="save">Subscribe</v-btn>
      </v-card-actions>
      <v-card-actions  v-if="edit===true">
        <v-spacer></v-spacer>
        <v-btn @click="close">Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue, Inject } from "vue-property-decorator";
import Editor from "@tinymce/tinymce-vue";

import { SubscriptionModel, UserRequest,ListItem, SubscriptionRequest } from "@/model";
import { DataRespone, IBaseModel, IBaseRequest, PageInfo, DataRequest } from '@/model';
import { IUserService,ISubscriptionService } from "@/service";
import { BaseDialogComponent } from "@/components/base/BaseDialogComponent";
import axios from 'axios';
import { AxiosResponse, AxiosError, AxiosRequestConfig, ResponseType } from 'axios'

@Component({
  components: { Editor }
})
export default class SubscriptionDetail extends BaseDialogComponent<SubscriptionModel> {
   @Inject("subscriptionService") service: ISubscriptionService;

  ;
  subscription:SubscriptionModel=new SubscriptionModel();
  //invoice:SubscriptionModel=new SubscriptionModel();
  roles: Array<ListItem> = [];
  status: Array<ListItem> = [];
  title: string = "Add Your Subscription";
  edit:boolean=false;
  interval: Array<ListItem> = [];
  planName: Array<ListItem> = [];
  planFrequency:Array<ListItem> = [];
  request:SubscriptionRequest=new SubscriptionRequest();


  

  public mounted() {
    //this.billing.appId="16499f5dbd13612a96055b92a99461";
    //this.billing.secretKey="6ecc974736f01162ce3bb476478216a6c10be824";
    //this.billing.returnUrl="localhost:8080"
    this.subscription = this.$vuehelper.clone(this.data);

    this.interval.push(new ListItem("Year", "12"));
    this.interval.push(new ListItem("Month", "1"));

       this.service.post(this.subscription,"allplans").then((response:any) => {
            response.items.forEach((element: { item: { name: string; }; id: string;period:string }) => {
               this.planName.push(new ListItem(element.item.name, element.id));
               this.planFrequency.push(new ListItem(element.period,element.id));
               console.log(element.period);
            });
            
            });



    if (this.subscription.items.length>0) 
    {
    this.title = "Payment History";
    this.edit=true;
    }
   
    this.open(false);


  }

  save() {


const Razorpay = require('razorpay');

 var instance = new Razorpay({
  key_id: 'rzp_test_UbwSIxQTpaJQOI',
  key_secret: 'uFE54WAONZtuIU9Uy18m2lSS',
});


           
            this.subscription.customer_notify=true;
            this.subscription.quantity=1;

            
          this.planFrequency.forEach(items => {

            if(this.subscription.plan_id==items.value)
            {
              if(items.text=="monthly")
              {
               this.subscription.total_count=120;
              }
               if(items.text=="yearly")
              {
              this.subscription.total_count=10;
              }
            }
          })
            

              this.service.post(this.subscription).then(
             (r: any) =>    location.replace(r.short_url),
             (e: any) => this.error(e)
           );
    } 



     
  
  

  get nameRules() {
    return [(v: any) => !!v || "required"];
  }



  
}

</script>