<template>
  <v-container id="regular-tables" fluid tag="section">
    <base-material-card icon="mdi-clipboard-text" title="Billing" class="px-5 py-3">
      <v-data-table
        :headers="gridData.headers"
        :items="response.data"
        :options.sync="options"
        :server-items-length="response.pageInfo.totalResults"
        :loading="gridData.request._loading"
        :footer-props="style.footerProps"
        :height="style.height"
        :class="style.classNames"
        :disable-sort="gridData.disableSort"
        :no-data-text="gridData.message"
      >
        <template v-slot:top >
          <v-toolbar flat dense height="auto" color="transparent">
            <v-row no-gutters align="center" v-if="gridData.title">
              <v-col>
                <v-toolbar-title class="font-weight-bold">{{ gridData.title }}</v-toolbar-title>
              </v-col>
              <v-col :cols="$vuetify.breakpoint.smAndUp ? 0 : 12">
                <grid-action :actions="gridData.actions" @actionTriggered="onActionTriggered(response.data, ...arguments)"></grid-action>
              </v-col>
            </v-row>
            <template v-else >
              <grid-action
                :actions="gridData.actions"
                @actionTriggered="onActionTriggered(response.data, ...arguments)"
                :justify="'start'"
              ></grid-action>
            </template>
          </v-toolbar>
        </template>
        <template v-slot:item.name="{ item }">
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <span :class="style.fieldClasses" v-on="on">{{ item.name }}</span>
            </template>
            <span>{{ item.name }}</span>
          </v-tooltip>
        </template>
        <template v-slot:item.createdTime="{ item }">
        <v-tooltip bottom v-if="item.createdTime">
          <template v-slot:activator="{ on }">
            <span :class="style.fieldClasses" v-on="on">{{ item.createdTime | dateDisplay }}</span>
          </template>
          <span>{{ item.createdTime | dateDisplay('dddd, MMMM DD, YYYY') }}</span>
        </v-tooltip>
        <span v-else>N/A</span>
      </template>

   <template v-slot:item.current_start="{ item }">
        <v-tooltip bottom v-if="item.current_start">
          <template v-slot:activator="{ on }">
            <span :class="style.fieldClasses" v-on="on">{{ item.current_start | formatDate }}</span>
          </template>
          <span>{{ item.current_start | formatDate('dddd, MMMM DD, YYYY') }}</span>
        </v-tooltip>
        <span v-else>N/A</span>
      </template>

       <template v-slot:item.current_end="{ item }">
        <v-tooltip bottom v-if="item.current_end">
          <template v-slot:activator="{ on }">
            <span :class="style.fieldClasses" v-on="on">{{ item.current_end | formatDate }}</span>
          </template>
          <span>{{ item.current_end | formatDate('dddd, MMMM DD, YYYY') }}</span>
        </v-tooltip>
        <span v-else>N/A</span>
      </template>
       <template v-slot:item.item.amount="{ item }">
          <span>{{ item.item.amount | formatCurrency }}</span>
      </template>
        <template v-slot:item.action="{ item }">
          <grid-row-action
            :item="item"
            :actions="gridData.itemActions"
            @actionTriggered="onRowActionTriggered(item, ...arguments)"
          ></grid-row-action>
        </template>
        <template v-slot:no-data></template>
      </v-data-table>
    </base-material-card>
    <component v-bind:is="dialog.component" :data="dialog.data" @close="close" v-if="dialog"></component>
  </v-container>
  
</template>
<script lang="ts">
import { Component, Prop, Inject } from "vue-property-decorator";
import {
  SubscriptionRequest,
  SubscriptionModel,
  GridModel,
  GridActionModel,
  GridItemActionModel,
  DialogModel
} from "@/model";
import { ISubscriptionService } from "@/service";
import { BaseGridComponent } from "@/components/base/BaseGridComponent";
import GridAction from "@/components/GridAction.vue";
import GridRowAction from "@/components/GridRowAction.vue";
import SubscriptionDetail from './SubscriptionDetail.vue';
import moment from 'moment';
import axios from 'axios';
import { AxiosResponse, AxiosError, AxiosRequestConfig, ResponseType } from 'axios'

@Component({
  components: { GridAction, GridRowAction, SubscriptionDetail }
})
export default class SubscriptionGrid extends BaseGridComponent<
  SubscriptionRequest,
  SubscriptionModel
> {
  @Inject("subscriptionService") service: ISubscriptionService;

  dialog: DialogModel<SubscriptionModel> = null;

  invoiceResponse:SubscriptionModel=new SubscriptionModel();
  view:boolean =false;

  created() {
    this.init(this.service);
  }

  date(value:any)
  {
      if (value) {
           return moment(String(value)).format('YYYYMMDD')
          }
  }

 

 

  onActionTriggered(item: Array<SubscriptionModel>,action: GridActionModel) {
    switch (action.commandName) {
      case "Add":
        this.openDetail(new SubscriptionModel());
        break;
         case "View":
            var  Customer_Id:Set<string>=new Set<string>();
            
           item.forEach(respone =>{         
           Customer_Id.add(respone.customer_id);
            console.log(respone.customer_id);
         
           })
      

         
                // console.log(cus.customer_id_List);
                 this.service.post( new SubscriptionModel(),"invoice").then((response:any) => {
               
                this.invoiceResponse.items=response.data[0].items;
             //  this.invoiceResponse.items.push(response.data[0].items);
              this.openDetail(this.invoiceResponse);
               console.log( this.invoiceResponse);
              this.refresh();
            });
             
         
    
            this.view=true;
       
        break;
      default:
        this.refresh();
        break;
    }
  }

  onRowActionTriggered(item: SubscriptionModel, action: GridItemActionModel) {
    switch (action.commandName) {
      case "Edit":
        this.openDetail(item);
        break;
         case "Start":
        location.replace(item.short_url);
        break;
          case "View":
            
             this.service.post(item,"invoice/"+item.customer_id).then((response:any) => {
               
               this.invoiceResponse.items=response.data[0].items;
              this.openDetail(this.invoiceResponse);
               console.log( this.invoiceResponse.items);
              this.refresh();
            });
            this.view=true;
       
        break;
         case "Cancel":
        this.confirm(
          "Delete",
          `Are you sure you want to Cancel the Subscription'?`
        ).then((confirm: any) => {
          if (confirm) {
            this.service.post(item,"cancel").then(() => {
              this.refresh();
            });
          }
        });
    
    }
  }

  openDetail(data: SubscriptionModel) {
    this.dialog = new DialogModel<SubscriptionModel>();

    this.dialog.component = SubscriptionDetail;
    this.dialog.data = data;
  }



  close(save: boolean) {
    this.dialog = new DialogModel<SubscriptionModel>();

    if (save) this.refresh();
  }
}
</script>