<template>
  <v-container fluid class="pa-8" v-if="data">
    <file-grid :gridData="data"></file-grid>
  </v-container>
</template>
<script lang="ts">
import { Component, Inject } from "vue-property-decorator";

import { Settings } from '@/config';
import { FileRequest, GridModel, FileModel } from "@/model";
import { IFileService } from "@/service";
import { BaseComponent } from '@/components/base';
import FileGrid from "./components/FileGrid.vue";

@Component({
  components: { FileGrid }
})
export default class FilePage extends BaseComponent {
  @Inject("fileService") fileService: IFileService;

  data: GridModel<FileRequest> = null;

  mounted() {
    this.data = new GridModel(FileRequest);
    this.data.request.pageSize = Settings.GridPageSize;

    this.data.actions.push({
      columns: 4,
      controlType: "Search",
      commandName: "SearchFilter"
    });

    this.data.actions.push({
      columns: 0,
      controlType: "PrimaryButton",
      commandName: "Add",
      label: "Add File",
      icon: "plus"
    });


    this.data.itemActions.push({
      text: "Edit",
      icon: "mdi-pencil",
      commandName: "Edit"
    });

    this.data.itemActions.push({
      text: "Delete",
      icon: "mdi-delete",
      commandName: "Delete",
    });

    this.data.headers = [
      { text: "Name", value: "name" },
      { text: "Created By", value: "createdBy", width: "15%" },
      { text: "Created Date", value: "createdTime", width: "15%" },
      { value: "action", sortable: false, width: "10%" }
    ];

  }
}
</script>