<template>
  <v-app>
    <app-header />
    <app-drawer />

    <v-content v-if="$store.getters.siteId">
      <router-view />
    </v-content>

    <!-- <app-footer /> -->
    <app-alert ref="alert"></app-alert>
    <app-confirm ref="confirm"></app-confirm>
  </v-app>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

import AppHeader from "@/views/components/AppHeader.vue";
import AppDrawer from "@/views/components/AppDrawer.vue";

import AppAlert from "@/components/AppAlert.vue";
import AppConfirm from "@/components/AppConfirm.vue";

@Component({
  components: { AppHeader, AppDrawer, AppAlert, AppConfirm }
})
export default class AdminPage extends Vue {
  mounted() {
    let root: any = this.$root;
    let alert: AppAlert = this.$refs.alert as AppAlert;
    let confirm: AppConfirm = this.$refs.confirm as AppConfirm;

    root.$alert = alert.show;
    root.$confirm = confirm.show;
  }
}
</script>