<template>
  <v-container fluid class="pa-8" v-if="data">
    <page-layout-grid :gridData="data"></page-layout-grid>
  </v-container>
</template>
<script lang="ts">
import { Component, Inject } from "vue-property-decorator";

import { Settings } from '@/config';
import { PageLayoutRequest, GridModel, PageLayoutModel } from "@/model";
import { IPageLayoutService } from "@/service";
import { BaseComponent } from '@/components/base';
import PageLayoutGrid from "./components/PageLayoutGrid.vue";

@Component({
  components: { PageLayoutGrid }
})
export default class PageLayout extends BaseComponent {
  @Inject("pageLayoutService") pageService: IPageLayoutService;

  data: GridModel<PageLayoutRequest> = null;

  mounted() {
    this.data = new GridModel(PageLayoutRequest);
    this.data.request.pageSize = Settings.GridPageSize;

    this.data.actions.push({
      columns: 4,
      controlType: "Search",
      commandName: "SearchFilter"
    });

    this.data.actions.push({
      columns: 0,
      controlType: "PrimaryButton",
      commandName: "Add",
      label: "Add Template",
      icon: "plus"
    });


    this.data.itemActions.push({
      text: "Edit",
      icon: "mdi-pencil",
      commandName: "Edit"
    });

    this.data.itemActions.push({
      text: "Delete",
      icon: "mdi-delete",
      commandName: "Delete"
    });

    this.data.headers = [
      { text: "Name", value: "name" },
      { text: "Created By", value: "createdBy", width: "15%" },
      { text: "Created Date", value: "createdTime", width: "15%" },
      { value: "action", sortable: false, width: "10%" }
    ];

  }
}
</script>