<template>
  <v-dialog v-model="show" :max-width="dialogWidth" persistent scrollable>
    <v-card>
      <v-card-title class="display-2 font-weight-light text-left">{{ title }}</v-card-title>
      <v-card-text>
        <v-form ref="form" lazy-validation>
          <v-row>
            <v-col cols="4">
              <v-text-field
                label="Name of Content"
                type="text"
                v-model="content.name"
                required
                :rules="nameRules"
              />
              <v-select
                label="Content Type"
                v-model="content.contentTypeId"
                :items="contentTypes"
                item-text="name"
                item-value="id"
                @change="onContentTypeChange"
              />
            </v-col>
            <v-col cols="8">
              <template v-for="(field, index) in content.data">
                <template v-if="field.type == 'string'">
                  <v-text-field :label="field.name" v-model="field.value" :key="index" />
                </template>
                <template v-else-if="field.type == 'text'">
                  <v-select :label="field.name" v-model="field.value" :key="index" />
                </template>
                  <template v-else-if="field.type == 'image'">
                  <v-select :label="field.name" v-model="field.value" :items="files"  item-value="file"  item-text="fileName" :key="index" />
                  <v-container :key="index">
               
                 <v-img

                  :src="$vuehelper.getImageUrl(field.value)"
                  height="200px"
                  class="ml-5"
                ></v-img>
                  </v-container>               
                </template>
                <template v-else-if="field.type == 'date'">
                  <v-menu
                    :key="index"
                    v-model="field.controlData.show"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        :value="field.value | dateDisplay"
                        :label="field.name"
                        readonly
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="field.value"
                      no-title
                      @input="field.controlData.show = false"
                    ></v-date-picker>
                  </v-menu>
                </template>
                <template v-else-if="field.type == 'editor'">
                  <div :key="index">
                    <div style="color:rgba(0, 0, 0, 0.3)">{{ field.name }}</div>
                    <editor
                    v-model="field.value"
                      api-key="05gb9m2bv1giyo5n5i9xf3admqy7yzlmo5zbyvfa3hg60w87"
                      :init="{
                    height: 500,
                    menubar: false,
                    branding: false,
                    plugins: [
                      'advlist autolink lists link image charmap print preview anchor',
                      'searchreplace visualblocks code fullscreen',
                      'insertdatetime media table paste code help wordcount'
                    ],
                    toolbar1: 'undo redo | bold italic underline removeformat | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent nonbreaking | forecolor styleselect',
                    toolbar2: 'table hr anchor | searchreplace spellchecker | visualblocks fullscreen code',
                  }"
                    />
                  </div>
                </template>
              </template>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn @click="close">Cancel</v-btn>
        <v-btn color="primary" @click="save">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue, Inject } from "vue-property-decorator";
import Editor from "@tinymce/tinymce-vue";

import {
  ContentModel,
  ContentRequest,
  ContentTypeModel,
  FileModel,
  FileRequest,
  ContentTypeRequest
} from "@/model";
import { IContentService, IContentTypeService ,IFileService} from "@/service";
import { BaseDialogComponent } from "@/components/base/BaseDialogComponent";

@Component({
  components: { Editor }
})
export default class ContentDetail extends BaseDialogComponent<ContentModel> {
  @Inject("contentService") service: IContentService;
  @Inject("contentTypeService") contentTypeService: IContentTypeService;
   @Inject("fileService") fileService: IFileService;

  content: ContentModel = new ContentModel();
  title: string = "Build your Content";
  contentTypes = new Array<ContentTypeModel>();
  files=new Array<FileModel>();

  public mounted() {
    this.content = this.$vuehelper.clone(this.data);
  //  console.log(this.content);
     
     let fileRequest=new FileRequest();
    this.fileService.getItems(fileRequest).then(r => {
    //  console.log(r);
     this.files=r.data;
     
    })
   
 console.log(this.files);
    let contentTypeRequest = new ContentTypeRequest();
    this.contentTypeService.getItems(contentTypeRequest).then(response => {
      this.contentTypes = response.data;

      if (!this.content.contentTypeId)
        this.content.contentTypeId = this.contentTypes[0].id;

       if (this.content.id) {
      this.title = "Edit your Content";
      this.buildFields(true);

    }else{
      this.buildFields(false);
    }

      this.open(false);
    });
  }

  save() {
    if (this.valid) {
      {
        this.service.post(this.content).then(
          (r: any) => this.onSave(),
          (e: any) => this.error(e)
        );
      }

      //console.log(this.content);
    } else {
     // console.log(this.content);
      console.log("validation failed");
    }
  }

  onContentTypeChange() {
    this.buildFields(false);
  }

  buildFields(ifedit:boolean) {
    let selectedContentType = this.contentTypes.find(
      c => c.id == this.content.contentTypeId
    );
    this.content.data = [];
    selectedContentType.fields.forEach(f => {
      let controlData: any = {};
      if (f.required) controlData.rules = [(v: any) => !!v || "required"];

      this.content.data.push({
        name: f.name,
        type: f.type,
        value: "",
        controlData: controlData
      });
    });

    if(ifedit===true){

        this.content.data.forEach(d => {
        (d.name = ""), (d.type = ""), (d.value = "");
      });

      this.data.data.forEach(f => {
        let controlData: any = {};
        this.content.data.push({
          name: f.name,
          type: f.type,
          value: f.value,
          controlData: controlData
        });
      });

    }
  }

  get nameRules() {
    return [(v: any) => !!v || "required"];
  }
}
</script>