<template>
  <v-container id="regular-tables" fluid tag="section">
    <base-material-card icon="mdi-clipboard-text" title="Contents" class="px-5 py-3">
      <v-data-table
        :headers="gridData.headers"
        :items="response.data"
        :options.sync="options"
        :server-items-length="response.pageInfo.totalResults"
        :loading="gridData.request._loading"
        :footer-props="style.footerProps"
        :height="style.height"
        :class="style.classNames"
        :disable-sort="gridData.disableSort"
        :no-data-text="gridData.message"
      >
        <template v-slot:top>
          <v-toolbar flat dense height="auto" color="transparent">
            <v-row no-gutters align="center" v-if="gridData.title">
              <v-col>
                <v-toolbar-title class="font-weight-bold">{{ gridData.title }}</v-toolbar-title>
              </v-col>
              <v-col :cols="$vuetify.breakpoint.smAndUp ? 0 : 12">
                <grid-action :actions="gridData.actions" @actionTriggered="onActionTriggered"></grid-action>
              </v-col>
            </v-row>
            <template v-else>
              <grid-action
                :actions="gridData.actions"
                @actionTriggered="onActionTriggered"
                :justify="'start'"
              ></grid-action>
            </template>
          </v-toolbar>
        </template>
        <template v-slot:item.name="{ item }">
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <span :class="style.fieldClasses" v-on="on">{{ item.name }}</span>
            </template>
            <span>{{ item.name }}</span>
          </v-tooltip>
        </template>
         <template v-slot:item.createdTime="{ item }">
        <v-tooltip bottom v-if="item.createdTime">
          <template v-slot:activator="{ on }">
            <span :class="style.fieldClasses" v-on="on">{{ item.createdTime | dateDisplay }}</span>
          </template>
          <span>{{ item.createdTime | dateDisplay('dddd, MMMM DD, YYYY') }}</span>
        </v-tooltip>
        <span v-else>N/A</span>
      </template>
        <template v-slot:item.action="{ item }">
          <grid-row-action
            :item="item"
            :actions="gridData.itemActions"
            @actionTriggered="onRowActionTriggered(item, ...arguments)"
          ></grid-row-action>
        </template>
        <template v-slot:no-data></template>
      </v-data-table>
    </base-material-card>
    <component v-bind:is="dialog.component" :data="dialog.data" @close="close" v-if="dialog"></component>
  </v-container>
</template>
<script lang="ts">
import { Component, Prop, Inject } from "vue-property-decorator";
import {
  ContentRequest,
  ContentModel,
  GridModel,
  GridActionModel,
  GridItemActionModel,
  DialogModel
} from "@/model";
import { IContentService } from "@/service";
import { BaseGridComponent } from "@/components/base/BaseGridComponent";
import GridAction from "@/components/GridAction.vue";
import GridRowAction from "@/components/GridRowAction.vue";
import ContentDetail from './ContentDetail.vue';

@Component({
  components: { GridAction, GridRowAction, ContentDetail }
})
export default class ContentGrid extends BaseGridComponent<
  ContentRequest,
  ContentModel
> {
  @Inject("contentService") service: IContentService;

  dialog: DialogModel<ContentModel> = null;

  created() {
    this.init(this.service);
  }

  onActionTriggered(action: GridActionModel) {
    switch (action.commandName) {
      case "Add":
        this.openDetail(new ContentModel());
        break;
      default:
        this.refresh();
        break;
    }
  }

  onRowActionTriggered(item: ContentModel, action: GridItemActionModel) {
    switch (action.commandName) {
      case "Edit":
        this.openDetail(item);
        break;
        case "Delete":
        this.confirm(
          "Delete",
          `Are you sure you want to delete '${item.name}'?`
        ).then((confirm: any) => {
          if (confirm) {
            this.service.delete(item.id.toString()).then(() => {
              this.refresh();
            });
          }
        });
    }
  }

  openDetail(data: ContentModel) {
    this.dialog = new DialogModel<ContentModel>();
    this.dialog.component = ContentDetail;
    this.dialog.data = data;
  }

  close(save: boolean) {
    this.dialog = new DialogModel<ContentModel>();

    if (save) this.refresh();
  }
}
</script>