<template>
  <v-dialog v-model="show" width="800" persistent scrollable>
    <v-card>
      <v-card-title class="display-2 font-weight-light text-left">{{ title }}</v-card-title>
      <v-card-text>
        <v-form ref="form" lazy-validation>
          <v-row>
            <v-col cols="6">
              <v-text-field
                label="Name of Site"
                type="text"
                v-model="site.name"
                required
                :rules="nameRules"
                 prepend-icon="mdi-earth-box"
              />

                <v-select
                  :items="status"
                  v-model="site.status"
                  label="Status"
                  prepend-icon="mdi-clipboard-check"
                />

                  <v-textarea 
                label="Urls"
                type="text"
                v-model="site.urls"
                 prepend-icon="mdi-earth-box"
              />

               <v-textarea v-if="site.id"
                label="Robots.txt"
                type="text"
                v-model="site.robots"
                required
                :rules="nameRules"
                 prepend-icon="mdi-earth-box"
              />

              
            </v-col>
            <v-col cols="6">
              <v-site-input show-size small-chips label="File"></v-site-input>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn @click="close">Cancel</v-btn>
        <v-btn color="primary" @click="save">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue, Inject } from "vue-property-decorator";
import Editor from "@tinymce/tinymce-vue";

import { SiteModel, SiteRequest,ListItem } from "@/model";
import { ISiteService } from "@/service";
import { BaseDialogComponent } from "@/components/base/BaseDialogComponent";

@Component({
  components: { Editor }
})
export default class SiteDetail extends BaseDialogComponent<SiteModel> {
  @Inject("siteService") service: ISiteService;

  site: SiteModel = new SiteModel();
  title: string = "Build your Site";
  status: Array<ListItem> = [];

  public mounted() {
    this.site = this.$vuehelper.clone(this.data);
    if (this.site.id) this.title = "Edit your Site";

    this.status.push(new ListItem("Active", "Active"));
    this.status.push(new ListItem("InActive", "Inactive"));
    this.open(false);
  }

  save() {
    if (this.valid) 
      {
  /*     this.service.isNameExists(this.site).then(exists => {
         if (exists) {
           this.alert(
            `Plan with name '${this.plan.planName}' already exists.`,
             AlertType.Warning
           );
         } else */ 

          this.service.post(this.site).then(
             (r: any) => this.onSave(),
             (e: any) => this.error(e)
           );
         
       
    }

     else {
      console.log(this.site);
      console.log("validation failed");
    }
  }

  get nameRules() {
    return [(v: any) => !!v || "required"];
  }
}
</script>