<template>
  <v-container fluid class="pa-8" v-if="data">
    <!-- <h2 class="text-uppercase ma-2">Plans</h2> -->
    <content-grid :gridData="data"></content-grid>
  </v-container>
</template>
<script lang="ts">
import { Component, Inject } from "vue-property-decorator";

import { Settings } from '@/config';
import { ContentRequest, GridModel, ContentModel } from "@/model";
import { IContentService } from "@/service";
import { BaseComponent } from '@/components/base';
import ContentGrid from "./components/ContentGrid.vue";

@Component({
  components: { ContentGrid }
})
export default class ContentPage extends BaseComponent {
  @Inject("contentService") contentService: IContentService;

  data: GridModel<ContentRequest> = null;

  mounted() {
    this.data = new GridModel(ContentRequest);
    this.data.request.pageSize = Settings.GridPageSize;

    this.data.actions.push({
      columns: 4,
      controlType: "Search",
      commandName: "SearchFilter"
    });

    this.data.actions.push({
      columns: 0,
      controlType: "PrimaryButton",
      commandName: "Add",
      label: "Add Content",
      icon: "plus"
    });


    this.data.itemActions.push({
      text: "Edit",
      icon: "mdi-pencil",
      commandName: "Edit"
    });

    this.data.itemActions.push({
      text: "Delete",
      icon: "mdi-delete",
      commandName: "Delete",
      //disable: (item: ContentModel) => { return item.subscriptionCount > 0 }
    });

    this.data.headers = [
      { text: "Name", value: "name" },
      { text: "Created By", value: "createdBy", width: "15%" },
      { text: "Created Date", value: "createdTime", width: "15%" },
      { value: "action", sortable: false, width: "10%" }
    ];

  }
}
</script>