<template>
  <v-container fluid class="pa-8" v-if="data">
    <site-grid :gridData="data"></site-grid>
  </v-container>
</template>
<script lang="ts">
import { Component, Inject } from "vue-property-decorator";

import { Settings } from '@/config';
import { SiteRequest, GridModel, SiteModel } from "@/model";
import { ISiteService } from "@/service";
import { BaseComponent } from '@/components/base';
import SiteGrid from "./components/SiteGrid.vue";

@Component({
  components: { SiteGrid }
})
export default class SitePage extends BaseComponent {
  @Inject("siteService") siteService: ISiteService;

  data: GridModel<SiteRequest> = null;

  mounted() {
    this.data = new GridModel(SiteRequest);
    this.data.request.pageSize = Settings.GridPageSize;

    this.data.actions.push({
      columns: 4,
      controlType: "Search",
      commandName: "SearchFilter"
    });

    this.data.actions.push({
      columns: 0,
      controlType: "PrimaryButton",
      commandName: "Add",
      label: "Add Site",
      icon: "plus"
    });


    this.data.itemActions.push({
      text: "Edit",
      icon: "mdi-pencil",
      commandName: "Edit"
    });

    this.data.itemActions.push({
      text: "Delete",
      icon: "mdi-delete",
      commandName: "Delete",
    });

    this.data.headers = [
      { text: "Name", value: "name" },
      { text: "Created By", value: "createdBy", width: "15%" },
      { text: "Created Date", value: "createdTime", width: "15%" },
      { value: "action", sortable: false, width: "10%" }
    ];

  }
}
</script>