<template>
  <v-dialog v-model="show" width="800" persistent scrollable>
    <v-card>
      <v-card-title class="display-2 font-weight-light text-left">{{ title }}</v-card-title>
      <v-card-text>
        <v-form ref="form" lazy-validation>
          <v-row>
            <v-col cols="6">
              <v-text-field
                label="Email"
                type="text"
                v-model="user.email"
                 prepend-icon="mdi-email"
                required
                :disabled="edit == true"
                :rules="nameRules"
              />
              <v-select
                  :items="roles"                
                  label="Role"
                  v-model="user.role"
                  prepend-icon="mdi-account-group"
                  required
                  :rules="nameRules"
                />
                <v-select
                  :items="status"
                  v-model="user.status"
                  label="Status"
                  prepend-icon="mdi-clipboard-check"
                />
            </v-col>
            <v-col cols="6">
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn @click="close">Cancel</v-btn>
        <v-btn color="primary" @click="save">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue, Inject } from "vue-property-decorator";
import Editor from "@tinymce/tinymce-vue";

import { UserModel, UserRequest,ListItem } from "@/model";
import { IUserService } from "@/service";
import { BaseDialogComponent } from "@/components/base/BaseDialogComponent";

@Component({
  components: { Editor }
})
export default class UserDetail extends BaseDialogComponent<UserModel> {
  @Inject("userService") service: IUserService;

  user: UserModel = new UserModel();
  roles: Array<ListItem> = [];
  status: Array<ListItem> = [];
  title: string = "Invite your User";
  edit:boolean;

  public mounted() {
    this.user = this.$vuehelper.clone(this.data);
    if (this.user.id) 
    {
    this.title = "Edit your User";
    this.edit=true;
    }
   
    this.open(false);

    this.service.getRoles().then(items => {
      this.roles = items;
    });

     this.status.push(new ListItem("Active", "Active"));
    this.status.push(new ListItem("InActive", "InActive"));
  }

  save() {
    if (this.valid) {

       {
          this.service.post(this.user).then(
             (r: any) => this.onSave(),
             (e: any) => this.error(e)
           );
         }
       
    } else {
      console.log(this.user);
      console.log("validation failed");
    }
  }

  get nameRules() {
    return [(v: any) => !!v || "required"];
  }
}
</script>