html, body {
  height: 100%;
}
body {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
#signin {
  background: #ffffff;
  box-shadow: 0 0 64px rgba(0, 0, 0, 0.5);
  padding: 20px 60px;
  position: relative;
  overflow: hidden;
  width: 90%;
  max-width: 420px;
}
#signin .form-title {
  font: 900 20px 'Roboto', sans-serif;
  color: #000;
  text-align: center;
  padding: 25px;
}
#signin .alert {
  font: 500 14px 'Roboto', sans-serif;
  color: #000;
  text-align: center;
}
#signin .alert-error {
  color: #f44336;
}
#signin .alert-success {
  color: #4CAF50;
}
#signin .alert-warning {
  color: #ffeb3b;
}
#signin .alert-info {
  color: #2196F3;
}
#signin .input-field {
  position: relative;
  height: 50px;
  margin: 35px 0;
  transition: all 300ms;
}
#signin .input-field i {
  position: absolute;
  left: -30px;
  color: #bbb;
  transition: height 250ms;
  font-size: 24px;
  bottom: 20px;
  height: 10px;
}
#signin .input-field label {
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: 20px;
  left: 4px;
  font: 400 16px 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.80);
  opacity: 1;
  transition: all 300ms;
}
#signin .input-field input {
  width: calc(100% - 35px);
  height: 4px;
  font: 500 16px 'Roboto', sans-serif;
  padding: 0 20px 0 50px;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.42);
  color: #606060;
  /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25); 
  border-radius: 6px; */
  outline: 0;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 300ms;
}
#signin .forgot-pw {
  font: 400 14px 'Roboto', sans-serif;
  color: #2e3c89;
  text-decoration: none;
  margin: 20px 0px;
  display: block;
}
#signin .button {
  text-align: center;
}

#signin button.login {
  font: 500 16px 'Roboto', sans-serif;
  padding: 10px 20px;
  background: #4caf50;
  color: #fff;
  border: none;
  outline: 0;
  cursor: pointer;
  border-radius: 6px;
}
#signin .check {
  width: 100%;
  height: 100%;
  background: #4caf50;
  position: absolute;
  top: 100%;
  left: 0;
  text-align: center;
  visibility: hidden;
  transition: all 1s;
}
#signin .check.in {
  visibility: visible;
  top: 0;
}
#signin .check i {
  color: #fff;
  font-size: 64px;
  line-height: 7.4;
}
#signin .input-field input:focus {
  color: #333;
}
#signin .input-field input:focus, #signin .input-field input.not-empty {
  height: auto;
  padding: 10px 20px 10px 10px;
}
#signin .input-field input:focus + i, #signin .input-field input.not-empty + i {
  font-size: 24px;
  bottom: 20px;
  height: 10px;
  visibility: visible;
}
#signin .input-field input:focus + i + label, #signin .input-field input.not-empty + i + label {
  font-size: 12px;
  margin-top: -15px;
  opacity: 0.7;
  animation: label 300ms 1;
}
@keyframes label {
  0% {
    margin-top: -15px;
 }
  50% {
    margin-top: -25px;
 }
  100% {
    margin-top: -15px;
 }
}

#socialLinks {
  text-align: center;
  font-size: 15px;
  font: 500 16px 'Roboto', sans-serif;  
}

#socialLinks hr {
  margin: 20px;
  border:0;
  border-bottom: solid 1px #bbb;
}

#socialLinks p {
  color: rgba(0, 0, 0, 0.42);
  padding: 10px 0px;;
}

#socialLinks ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#socialLinks ul li {
  padding-bottom: 16px;;
}

#socialLinks a {
  align-items: center;
  color: #fff;
  display: inline-flex;
  width: 200px;
  height: 35px;
  text-decoration: none;
  background: #3b5ca1;
  padding-right: 30px;
  border-radius: 6px;
}
#socialLinks a span {
  align-items: center;
  align-self: stretch;
  display: flex;
  font-size: 17px;
  justify-content: center;
  margin-right: 10px;
  text-align: center;
  width: 35px;
  border-radius:6px 0 0 6px;
}

#socialLinks a.google {
  background: rgba(219,68,55,.9);
}
#socialLinks a.google span {
  background: rgba(219,68,55,1);
}

#socialLinks a.facebook {
  background: rgba(66,103,178,.9);
}
#socialLinks a.facebook span {
  background: rgba(66,103,178,1);
}
#socialLinks a.twitter {
  background: rgba(29,161,242,.9);
}
#socialLinks a.twitter span {
  background: rgba(29,161,242,1);
}

#socialLinks a.microsoft {
  background: rgba(0, 164, 239, .9);
}
#socialLinks a.microsoft span {
  background: rgba(0, 164, 239, 1);
}

