<template>
  <v-container fluid class="pa-8" v-if="data">
    <contentType-grid :gridData="data"></contentType-grid>
  </v-container>
</template>
<script lang="ts">
import { Component, Inject } from "vue-property-decorator";

import { Settings } from '@/config';
import { ContentTypeRequest, GridModel, ContentTypeModel } from "@/model";
import { IContentTypeService } from "@/service";
import { BaseComponent } from '@/components/base';
import ContentTypeGrid from "./components/ContentTypeGrid.vue";

@Component({
  components: { ContentTypeGrid }
})
export default class ContentTypePage extends BaseComponent {
  @Inject("pageService") contentTypeService: IContentTypeService;

  data: GridModel<ContentTypeRequest> = null;

  mounted() {
    this.data = new GridModel(ContentTypeRequest);
    this.data.request.pageSize = Settings.GridPageSize;

    this.data.actions.push({
      columns: 4,
      controlType: "Search",
      commandName: "SearchFilter"
    });

    this.data.actions.push({
      columns: 0,
      controlType: "PrimaryButton",
      commandName: "Add",
      label: "Add ContentType",
      icon: "plus"
    });


    this.data.itemActions.push({
      text: "Edit",
      icon: "mdi-pencil",
      commandName: "Edit"
    });

    this.data.itemActions.push({
      text: "Delete",
      icon: "mdi-delete",
      commandName: "Delete"
    });

    this.data.headers = [
      { text: "Name", value: "name" },
      { text: "Created By", value: "createdBy", width: "15%" },
      { text: "Created Date", value: "createdTime", width: "15%" },
      { value: "action", sortable: false, width: "15%" }
    ];

  }
}
</script>