<template>
  <v-container fluid class="pa-8" v-if="data">
    <attribute-grid :gridData="data"></attribute-grid>
  </v-container>
</template>
<script lang="ts">
import { Component, Inject } from "vue-property-decorator";

import { Settings } from '@/config';
import { AttributeRequest, GridModel, AttributeModel } from "@/model";
import { IAttributeService } from "@/service";
import { BaseComponent } from '@/components/base';
import AttributeGrid from "./components/AttributeGrid.vue";

@Component({
  components: { AttributeGrid }
})
export default class BillingPage extends BaseComponent {
  @Inject("attributeService") subscriptionService: IAttributeService;

  data: GridModel<AttributeRequest> = null;

  mounted() {
    this.data = new GridModel(AttributeRequest);
    this.data.request.pageSize = Settings.GridPageSize;


    this.data.actions.push({
      columns: 0,
      controlType: "PrimaryButton",
      commandName: "Add",
      label: "Add Category",
      icon: "plus",
    
    });

    this.data.itemActions.push({
    
          text: "Add Attributes",
          commandName: "Add",
    });

    this.data.headers = [
      { text: "Category", value: "category" },
      { text: "Attributes", value: "items[0].name" },
        { value: "action", sortable: false, width: "20%" }
    
    ];

  }
}
</script>