.v-text-field--filled.v-text-field--single-line.v-input--dense input
    margin-top: 0px

.v-select.v-select--is-menu-active .v-input__icon--append .v-icon.mdi-magnify
    transform: none

.v-btn--outlined
    span
        overflow: hidden
        display: block
        width: 100%
        text-overflow: ellipsis

a[disabled]
    pointer-events: none
    cursor: default
    text-decoration: none
    color: $y-disabled !important

.v-application
    .v-dialog
        .error--text
            .v-messages__message
                display: none
