.v-navigation-drawer 
    .v-icon.v-icon
        font-size: 24px
    
    .v-list-item__icon--text,
    .v-list-item__icon:first-child
        margin-left: 5px !important
        margin-right: 18px
        opacity: .8

    .v-list-item__action:last-of-type:not(:only-child)
        margin-right: 5px

    .v-list-item__title, 
    .v-list-item__subtitle
        line-height: 1.2
        font-weight: 300
        font-size: 14px

    .v-list-group__header
        padding: 0 !important

    .v-list-item:not(:last-child):not(:only-child)
        margin-bottom: 6px

        .v-list-item
            margin-bottom: 0

    .v-list-item__icon
        margin: 12px 0

    .v-list-item--active:hover::before, 
    .v-list-item--active::before
        opacity: 0