<template>
  <router-view />
</template>

<script type="text/javascript" src="https://www.cashfree.com/assets/cashfree.sdk.v1.2.js"></script>  
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { DIContainer } from "./dicontainer";
import axios from "axios";
import moment from 'moment';

@Component
export default class App extends DIContainer {

  created() {
    let token = this.$store.getters.accessToken;
    if (token)
      axios.defaults.headers.common["Authorization"] = `Bearer ${token}`;
      axios.defaults.headers.common["Origin"] = `http://127.0.0.1:8080`;
   // this.createAxiosResponseInterceptor();



 


const Razorpay = require('razorpay');

 var instance = new Razorpay({
  key_id: 'rzp_test_UbwSIxQTpaJQOI',
  key_secret: 'uFE54WAONZtuIU9Uy18m2lSS',
});


    this.createFilters();
  }

  createFilters() {


Vue.filter("formatDate", (value: any, format: string) => {
      if (!value) return "";

      var d = new Date(value*1000);

  
      return this.$vuehelper.date.format(d, format);
    });

    
Vue.filter("formatCurrency", (value: any) => {
      if (!value) return "";

      var d = value/100;

  
      return d;
    });
    




    Vue.filter("dateDisplay", (value: any, format: string) => {
      if (!value) return "";

      return this.$vuehelper.date.format(value, format);
    });
    
    Vue.filter("errorMessages", (value: any) => {
      return this.$vuehelper.val.messages(value);
    });
  }
}
</script>
