<template>
  <v-dialog v-model="show" width="800" persistent scrollable>
    <v-card>
      <v-card-title class="display-2 font-weight-light text-left">{{ title }}</v-card-title>
      <v-card-text>
        <v-form ref="form" lazy-validation>
          <v-row>
            <v-col cols="6">
              <v-text-field
                label="Name of File"
                type="text"
                v-model="file.name"
                required
                :rules="nameRules"
              />
              <v-textarea counter label="Description" v-model="file.description"></v-textarea>
            </v-col>
            <v-col cols="6">
              <v-file-input show-size small-chips label="File"  @change="fileChange"> 
              </v-file-input>
              <v-container>
                <v-img v-if="checkImage" :src="photoUrl" height="200px" class="ml-5"></v-img>
                 <v-img
                  v-else-if="checkEditImage"
                  :src="$vuehelper.getImageUrl(file.file)"
                  height="200px"
                  class="ml-5"
                ></v-img>
              <v-btn v-if="checkFile" x-small class="ml-5" color="indigo" dark  @click="download">
               <v-icon x-small dark>mdi-arrow-down-bold-circle-outline</v-icon>
              </v-btn>
              <v-btn v-if="checkEditFile" x-small class="ml-5" color="indigo" dark  @click="download">
                {{file.fileName}}
               <v-icon x-small dark>mdi-arrow-down-bold-circle-outline</v-icon>
              </v-btn>        
              </v-container>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn @click="close">Cancel</v-btn>
        <v-btn color="primary" @click="save">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue, Inject } from "vue-property-decorator";
import Editor from "@tinymce/tinymce-vue";

import { FileModel, FileRequest } from "@/model";
import { IFileService } from "@/service";
import { BaseDialogComponent } from "@/components/base/BaseDialogComponent";

@Component({
  components: { Editor }
})
export default class FileDetail extends BaseDialogComponent<FileModel> {
  @Inject("fileService") service: IFileService;

  file: FileModel = new FileModel();
  title: string = "Build your File";
  fileDetail: File = null;
  ext: string[];
  extension : string;
  checkImage : boolean =false;
  checkFile : boolean =false;
  checkEditImage : boolean =false;
  checkEditFile : boolean =false;
  editFile: FileModel = new FileModel();

  public mounted() {
    this.file = this.$vuehelper.clone(this.data);
    if (this.file.id) {
      this.title = "Edit your File";
     this.Editfile(this.file);
    }

    this.open(false);
  }

  save() {
    if (this.valid) {

      if(this.fileDetail!=null)
      {
        this.file.fileName=this.fileDetail.name;
        // console.log(this.extension);
      }
             this.service.post(this.file).then(
             (r: any) => this.processFile(r),
             (e: any) => this.error(e)
           );
      console.log(this.file);
    } else {
      console.log(this.file);
      console.log("validation failed");
    }
  }

  processFile(file: FileModel) {

    //  this.$store.dispatch("setCurrentUser");

    if (this.fileDetail) {
      this.service.uploadPhoto(this.fileDetail, file.id).then(() => {
        this.onSave();
      });
    } else this.onSave();
  }

get photoUrl() {
    return this.fileDetail ? window.URL.createObjectURL(this.fileDetail) : null;
  }

  fileChange(file: File) {
    this.fileDetail = file;
      if(this.fileDetail!=null)
      {
      this.ext=this.fileDetail.name.split(".");
      if(this.ext.length>0)
      {
       this.extension =this.ext[this.ext.length-1]
      }
      if(this.extension=="jpg"||this.extension=="jpeg"||this.extension=="png"||this.extension=="gif")
      {
        this.checkImage =true;
        
      }else
      {
         this.checkFile =true;
         this.checkEditFile=false;
        
      }
      }else{
        this.checkImage =false;
         this.checkFile =false;
        
      }
  }

    Editfile(file: FileModel) {
    this.editFile = file;
      if(this.editFile!=null)
      {
      this.ext=this.editFile.fileName.split(".");
      if(this.ext.length>0)
      {
       this.extension =this.ext[this.ext.length-1]
      }
      if(this.extension=="jpg"||this.extension=="jpeg"||this.extension=="png"||this.extension=="gif")
      {
        this.checkEditImage =true;
      }else
      {
         this.checkEditFile =true;
        
      }
      }else{
        this.checkEditImage =false;
         this.checkEditFile =false;
        
      }
  }

  download(file: File)
  {
     var binaryString = window.atob(this.file.file);
            var binaryLen = binaryString.length;
            var bytes = new Uint8Array(binaryLen);
            for (var i = 0; i < binaryLen; i++) {
               var ascii = binaryString.charCodeAt(i);
               bytes[i] = ascii;
            }
            var blob = new Blob([bytes],{type: 'application/octet-stream'});
            let fileUrl = window.URL.createObjectURL(blob);
            let fileLink = document.createElement("a");
            fileLink.href = fileUrl;
            fileLink.setAttribute("download", this.file.fileName);
            fileLink.style.display = "none";
            document.body.appendChild(fileLink);

            fileLink.click();
            document.body.removeChild(fileLink);

  }


 fileExtension()
{
  if(this.fileDetail!=null)
      {
      this.ext=this.fileDetail.name.split(".");
      if(this.ext.length>0)
      {
       this.extension =this.ext[this.ext.length-1]
      }
      if(this.extension=="jpg"||this.extension=="jpeg"||this.extension=="png"||this.extension=="gif")
      {
        this.checkImage =true;
        return true;
      }else
      {
         this.checkImage =false;
        return false;
      }
      }else
      {
        return false;
      }
}

  get nameRules() {
    return [(v: any) => !!v || "required"];
  }
}
</script>