<template>
  <v-dialog v-model="show" :max-width="800" persistent scrollable>
    <v-card>
      <v-card-title class="display-2 font-weight-light text-left">{{ title }}</v-card-title>
      <v-card-text>
        <v-form ref="form" lazy-validation>
          <v-text-field
            label="Name of ContentType"
            type="text"
            v-model="contentType.name"
            required
            :rules="nameRules"
          />
          <v-row>
            <v-col>
              <h4>FIELDS</h4>
            </v-col>
            <v-col class="text-right">
              <v-btn small color="secondary" @click="openFieldDetail()">Add New Field</v-btn>
            </v-col>
          </v-row>
          <v-simple-table fixed-header dense height="300px">
            <template v-slot:default>
              <thead>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Required</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="field in contentType.fields" :key="field.name">
                  <td><v-icon small class="handle">mdi-drag-horizontal-variant</v-icon></td>
                  <td>{{ field.name }}</td>
                  <td>{{ field.type }}</td>
                  <td>{{ field.required }}</td>
                  <td>
                    <v-btn
                      v-if="field.name"
                      x-small
                      text
                      icon
                      color="dark grey"
                      @click="openEditDetail(field,true)"
                    >
                      <v-icon x-small dark right>mdi-pencil</v-icon>
                    </v-btn>
                    <v-btn
                      v-if="field.name"
                      x-small
                      text
                      icon
                      color="dark grey"
                      @click="deleteField(field)"
                    >
                      <v-icon x-small dark right>mdi-delete</v-icon>
                    </v-btn>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn @click="close">Cancel</v-btn>
        <v-btn color="primary" @click="save">Save</v-btn>
      </v-card-actions>
    </v-card>
    <content-type-field ref="contentTypeField" @closee="closeFieldDetail(...arguments)" />
    <content-type-field ref="contentTypeFields" @edit="editField(...arguments)" />
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue, Inject } from "vue-property-decorator";

import {
  ContentTypeModel,
  ContentTypeRequest,
  ContentModel,
  ContentRequest,
  ContentTypeFieldModel,
  AlertType,
} from "@/model";
import { IContentTypeService, IContentService } from "@/service";
import { BaseDialogComponent } from "@/components/base";
import ContentTypeField from "./ContentTypeField.vue";
import Sortable from "sortablejs";

@Component({
  components: { ContentTypeField },
})
export default class ContentTypeDetail extends BaseDialogComponent<
  ContentTypeModel
> {
  @Inject("contentTypeService") service: IContentTypeService;

  contentType: ContentTypeModel = new ContentTypeModel();
  title: string = "Build your Content type";
  selectedItem: ContentTypeFieldModel = null;
  isEdit: boolean = false;

  public mounted() {
    this.contentType = this.$vuehelper.clone(this.data);
    if (!this.contentType.fields) this.contentType.fields = [];

    if (this.contentType.id) this.title = "Edit your Content type";

    this.open(false);

    setTimeout(() => {
      this.setdrag();
    }, 1000);
  }

  save() {
    if (this.valid) {
      this.contentType.status = "Active";

      this.service.isNameExists(this.contentType).then((exists) => {
        if (exists) {
          this.alert(
            `Content type with name '${this.contentType.name}' already exists.`,
            AlertType.Warning
          );
        } else {
          this.service.post(this.contentType).then(
            (r: any) => this.onSave(),
            (e: any) => this.error(e)
          );
        }
      });
      console.log(this.contentType);
    } else {
      console.log(this.contentType);
      console.log("validation failed");
    }
  }

  openFieldDetail(item?: ContentTypeFieldModel) {
    let componentRef: any = this.$refs.contentTypeField;
    let component: ContentTypeField = componentRef;
    this.selectedItem = item;
    component.data = this.selectedItem;
    component.open();
  }

  openEditDetail(item?: ContentTypeFieldModel, isEdit?: boolean) {
    item.oldName = item.name;
    let componentRef: any = this.$refs.contentTypeFields;
    let component: ContentTypeField = componentRef;
    this.selectedItem = item;
    component.data = this.selectedItem;
    component.open();
  }

  closeFieldDetail(field: ContentTypeFieldModel) {
    if (this.selectedItem) {
      this.selectedItem = field;
    } else {
      this.selectedItem = this.contentType.fields.find(
        (f) => f.name.toLowerCase() == field.name.toLowerCase()
      );
      if (this.selectedItem) this.selectedItem = field;
      else this.contentType.fields.push(field);
    }
  }

  deleteField(field: ContentTypeFieldModel) {
    this.contentType.fields.forEach((f) => {
      if (f.name == field.name) {
        var a = this.contentType.fields.indexOf(f);
        this.contentType.fields.splice(a, 1);
      }
    });
  }

  editField(field: ContentTypeFieldModel) {
    var a = this.contentType.fields.indexOf(this.selectedItem);
    this.contentType.fields.splice(a, 1);
    this.contentType.fields.push(field);
  }

  update(field: ContentTypeFieldModel) {
    this.contentType.fields.push(field);
  }

  get nameRules() {
    return [(v: any) => !!v || "required"];
  }

  setdrag() {
    let table: HTMLElement = document.querySelector(".v-data-table tbody");
    const _self = this;
    Sortable.create(table, {
      handle: ".handle", // Use handle so user can select text
      onEnd({ newIndex, oldIndex }: any) {
        const rowSelected = _self.contentType.fields.splice(oldIndex, 1)[0]; // Get the selected row and remove it
        _self.contentType.fields.splice(newIndex, 0, rowSelected); // Move it to the new index
      },
    });
  }
}
</script>