<template>
  <v-navigation-drawer
    id="core-navigation-drawer"
    :value="drawer"
    dark
    src="nav-image.jpg"
    mobile-break-point="960"
    app
    width="280"
  >
    <template v-slot:img="props">
      <v-img :gradient="`to bottom, ${barColor}`" v-bind="props" />
    </template>

    <v-divider class="mb-1" />

    <v-list dense nav>
      <v-list-item>
        <v-list-item-avatar class="align-self-center" contain>
          <v-img src="favicon.ico" max-height="40" />
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title class="display-1">YECTRA</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>

    <v-divider class="mb-2" />

    <v-autocomplete
      label="Select Site"
      dense
      class="mx-5 my-8"
      single-line
      hide-details
      hide-no-data
      v-model="siteId"
      :items="sites"
      item-text="name"
      item-value="id"
      @change="onSiteChange()"
    ></v-autocomplete>

    <v-list expand nav>
      <template v-for="(item, i) in items">
        <v-list-item
          :key="`item-${i}`"
          :to="item.to"
          :active-class="`primary white--text`"
          v-if="!item.children"
        >
          <v-list-item-icon>
            <v-icon v-text="item.icon" />
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>

        <v-list-group :key="`item-${i}`" no-action v-if="item.children">
          <template v-slot:activator>
            <v-list-item active-class="`primary white--text`">
              <v-list-item-icon>
                <v-icon v-text="item.icon" />
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title v-text="item.title" />
              </v-list-item-content>
            </v-list-item>
          </template>

          <v-list-item v-for="(child, j) in item.children" :key="`child-item-${j}`" :to="child.to">
            <v-list-item-content>
              <v-list-item-title v-text="child.title" />
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
      </template>
    </v-list>

    <!-- <template v-slot:append>
      <base-item
        :item="{
          title: $t('upgrade'),
          icon: 'mdi-package-up',
          to: '/upgrade',
        }"
      />
    </template>-->
  </v-navigation-drawer>
</template>
<script lang="ts">
import { Component, Inject } from "vue-property-decorator";
import { BaseComponent } from "@/components/base";
import { SiteModel, SiteRequest } from "@/model";
import { ISiteService } from "@/service";

@Component
export default class AppDrawer extends BaseComponent {
  @Inject("siteService") siteService: ISiteService;

  barColor: string = "rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)";

  items: any = [
    {
      icon: "mdi-view-dashboard",
      title: "Dashboard",
      to: "/"
    },
    {
      icon: "mdi-clipboard-text",
      title: "Content",
      to: "/contents"
    },

    {
      icon: "mdi-file-document-edit",
      title: "Pages",
      to: "/pages"
    },

    {
      icon: "mdi-folder-image",
      title: "Files & Images",
      to: "/files"
    },
    {
      icon: "mdi-settings",
      title: "Administration",
      children: [
        {
          
          title: "Content Type",
          to: "/contenttypes"
        },
        {
         
          title: "Page Layout",
          to: "/pagelayout"
        },
        {
          title: "Sites",
          to: "/sites"
        },
        {
          title: "Users",
          to: "/users"
        },
         {
          title: "Billing",
          to: "/subscription"
        },
         {
          title: "Attributes",
          to: "/attributes"
        },
        {
          title: "Settings",
          to: "/settings"
        }
      ]
    }
  ];

  sites: Array<SiteModel> = [];
  siteId: string = null;

  mounted() {
    this.siteService.getItems(new SiteRequest()).then(response => {
      this.sites = response.data;
      if (this.sites.length) {
        this.siteId = this.sites[0].id;
        this.onSiteChange();
      } else {
        this.$router.push("/accessdenied");
      }
    });
  }

  onSiteChange() {
    this.$store.dispatch("setSite", this.siteId);
  }

  get drawer() {
    return this.$store.getters.navDrawer;
  }
}
</script>
