<template>
  <v-app-bar id="app-bar" absolute app color="transparent" flat height="75">
    <v-app-bar-nav-icon @click.stop="$store.dispatch('setNavDrawer')"></v-app-bar-nav-icon>
    <v-toolbar-title class="hidden-sm-and-down font-weight-light text-capitalize">CCM</v-toolbar-title>
    <v-spacer />
    <v-menu bottom left offset-y origin="top right" transition="scale-transition">
      <template v-slot:activator="{ attrs, on }">
        <v-btn class="ml-2" min-width="0" text v-bind="attrs" v-on="on">
     <!--      <v-badge color="red" overlap bordered>
            <template v-slot:badge>
              <span>5</span>
            </template>

            <v-icon>mdi-bell</v-icon>
          </v-badge>    -->
        </v-btn>
      </template>

     <v-list :tile="false" nav>
        <v-list-item v-for="(n, i) in notifications" :key="`item-${i}`">
          <v-list-item-title v-text="n" />
        </v-list-item>
      </v-list>   
    </v-menu>
    <v-menu bottom left offset-y origin="top right" transition="scale-transition">
      <template v-slot:activator="{ attrs, on }">
        <v-btn class="ml-2" min-width="0" text v-bind="attrs" v-on="on">
          <v-icon>mdi-account</v-icon>
        </v-btn>
      </template>
      <v-card>
        <v-system-bar></v-system-bar>
        <v-list>
          <v-list-item link>
            <v-list-item-avatar>
              <v-avatar color="teal" size="32">
                <span class="white--text text-capitalize">{{ userInfo.fullName.charAt(0) }}</span>
              </v-avatar>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title class="title">{{ userInfo.fullName }}</v-list-item-title>
              <v-list-item-subtitle>{{ userInfo.email }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
        <v-divider></v-divider>
        <v-list nav dense>
          <v-list-item-group color="primary">
          <!--   <v-list-item>
              <v-list-item-icon>
                <v-icon>mdi-account-edit</v-icon>
              </v-list-item-icon>

             <v-list-item-content>
                <v-list-item-title>My Profile</v-list-item-title>
              </v-list-item-content>     
            </v-list-item>  -->
            <v-list-item @click="logout">
              <v-list-item-icon>
                <v-icon>mdi-logout</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>Logout</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-card>
    </v-menu>
  </v-app-bar>
</template>
<script lang="ts">
import { Component } from "vue-property-decorator";
import { BaseComponent } from "@/components/base";

@Component
export default class AppHeader extends BaseComponent {
  notifications: any = [
    "Mike John Responded to your email",
    "You have 5 new tasks",
    "You're now friends with Andrew",
    "Another Notification",
    "Another one"
  ];

  logout() {
    this.$store.dispatch("logout").then(() => {
      this.$router.push("/logout");
    });
  }
}
</script>